<div fxLayoutAlign="center center">

  <mat-card class="topNote">
    <div contenteditable='true' class="edit" (click)="show=!show">
      <span class="text">Take a note...</span>
    </div>
  </mat-card>

</div>

<!-- Div shown on click -->
<div fxLayoutAlign="center center" *ngIf="show" class="divbox">
  <mat-card class="openCard">
    <div contenteditable='true' data-text='Title' class="editable line-height" name="title" (input)="model.title=$event.target.innerHTML"></div>
    <div contenteditable='true' data-text='Take a note..' class="editable line-height" name="description" (input)="model.description=$event.target.innerHTML"></div>

    <mat-card-actions>
      <button type="submit" mat-button style="margin-left: 80%; color:#3f51b5;" onclick="event.stopPropagation()" (click)="createNote()">DONE</button>
    </mat-card-actions>
  </mat-card>

</div>

<!-- Div to show pin notes -->
<div style="margin-left: 133px; margin-top: 18px;margin-bottom: -36px;">Pinned</div>

<div class="class-container" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="900px" fxLayoutGap="20px">
    <div *ngFor="let note of notes | searchFilter:searchText | noteFilter: {isPin:true,inTrash:false,isArchive:false}" class={{noteView}}>
      <!-- <div *ngIf="note.noteImage">
            <img [src]="note.imageString"/>
        </div> -->
      <!-- <div *ngFor="let note of notes"> -->
      <!-- <div *ngIf="note.isPin===true && note.isArchive===false && note.inTrash===false" style="margin-left: 300px;"> -->

      <app-notedisplay [note]="note"></app-notedisplay>

      <!-- <mat-card class="pin" fxFlex="230px">

          <div style="margin-left: 90%;">
            <img src="{{unpinSvg}}" (click)="updateNotes(note,status,'pin')">
          </div>

          <mat-card-header>
            <div [innerHTML]="note.title"></div>
          </mat-card-header>

          <mat-card-content>
            <div [innerHTML]="note.description"></div>
          </mat-card-content>

        </mat-card> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- Close of Pin div -->

<!-- Display cards that is not pin/trash/archive -->

<!-- <div class="class-container" fxLayoutAlign="center center"> -->
<div style="margin-left: 133px; margin-top: 8px; visibility: visible;">Unpinned</div>

<div class="class-container" fxLayoutAlign="center center">

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div fxLayout="row wrap"  fxLayoutAlign="space-between center"  class="mat-div" fxFlex="900px"> 
         <div *ngFor="let note of notes | noteFilter: {isPin:false,inTrash:false,isArchive:false}" class={{noteView}}>
            <app-notedisplay [note]="note"></app-notedisplay>
         </div>
      </div>
</div>
</div>
    <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center" > -->
    <!-- <div *ngFor="let note of notes | noteFilter: {isPin:false,isTrash:false,isArchive:false}"> -->
    <!-- <div *ngFor="let note of notes"> -->
      <!-- <div *ngIf="!note.isPin"> -->
      <!-- <div *ngIf="note.inTrash===false && note.isPin===false && note.isArchive===false"> -->
        <!-- <note-details [note]="note" *ngFor="let note of notes"></note-details> -->
        <!-- <mat-card [style.background]="note.color" class="mat-design" (click)="openNoteDialog(note)">

          <div *ngIf="note.noteImage">
            <img class="image" [src]="note.imageString"/>
          </div>
          
            <div> 
              <mat-card-header>
                <div [innerHTML]="note.title"></div>
              </mat-card-header>

              <mat-card-content>
                <div [innerHTML]="note.description"></div>
              </mat-card-content>
            </div>
          

          <div style="margin-left:90%;">
            <img src="/assets/icons/pin.svg" (click)="updateNotes(note,'true','pin')">
          </div> -->

          <!-- For showing reminder -->
          <!-- <div *ngIf="note.reminder!=null">
            <div mat-menu-item fxLayout="row">
              <mat-chip-list>
                <mat-chip color="primary" selected="true" class="matchip">
                  <mat-icon style="color: #fafafa;">schedule</mat-icon>
                  <label>{{note.reminder|date:'MMM dd,y, hh:mm a'}}</label>
                  <img style="margin-left: 8px;" src="{{crossSvg}}" (click)="saveReminder(note,'null')">
                </mat-chip>
              </mat-chip-list>

            </div>
          </div> -->

          <!-- For showing label -->
          <!-- <div *ngIf="note.labels!=null">
            <div *ngFor="let label of note.labels">
              <div fxLayout="row" fxLayoutGap="5px">

                <div>
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true" class="matchip">
                      {{label.labelTitle}}
                      <img style="margin-left: 8px;" src="{{crossSvg}}" (click)="removeLabel(note, label.labelId,'null')">
                    </mat-chip>
                  </mat-chip-list>
                </div>

              </div>
            </div>
          </div> -->

          <!-- For showing collaborator -->
          <!-- <div *ngIf="note.collaborators!=null">
            <div *ngFor="let collaborator of note.collaborators">

              <mat-chip-list>
                <mat-chip>
                  {{collaborator.sharedUser.email}} -->
                  <!-- <img style="margin-left: 8px;" src="{{crossSvg}}"> -->
                <!-- </mat-chip>
              </mat-chip-list>

            </div>
          </div> -->

          <!-- All buttons row Wrap -->
          <!-- <div fxLayout="row" style="margin-left: -20px;"> -->

            <!-- Reminder Div -->
            <!-- <div>
              <button mat-icon-button [matMenuTriggerFor]="remind">
                <img src="/assets/icons/reminder.svg">
              </button>

              <mat-menu #remind="matMenu">
                <div>
                  <button type="submit" mat-menu-item>
                    <b>Reminder:</b>
                  </button>
                </div>

                <button type="submit" mat-menu-item>
                  <div *ngFor="let note of notes">
                    <div style="user-select: none;text-align: left;" (click)="saveReminder(note,'today')">
                      <span> Later today &nbsp;&nbsp;&nbsp;</span>
                      <span> 8:00 PM</span>
                    </div>
                  </div>
                </button>

                <button type="submit" mat-menu-item (click)="saveReminder(note,'tomorrow')">
                  <div style="user-select: none;text-align: left;">
                    <span>Tomorrow &nbsp;&nbsp;</span>
                    <span> &nbsp;&nbsp; 8:00 PM</span>
                  </div>
                </button>

                <button type="submit" mat-menu-item (click)="saveReminder(note,'nextWeek')">
                  <div style="user-select: none;text-align: left;">
                    <span>Next week &nbsp;&nbsp;</span>
                    <span> &nbsp;&nbsp; Mon,8:00 AM</span>
                  </div>
                </button>

                <div>
                  <button mat-button [mat-menu-trigger-for]="calender">
                    <mat-icon>schedule</mat-icon>
                    <span>Pick date and time</span>
                  </button>
                </div>
                <mat-menu #calender="matMenu">
                  <button mat-menu-item (click)="saveReminder(note,'pickDate')">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </button>
                </mat-menu>

                <button type="submit" mat-menu-item>
                  <mat-icon>room</mat-icon>
                  <span>Pick place</span>
                </button>
              </mat-menu>
            </div> -->

            <!-- Collaborator Div -->
            <!-- <div>
              <button mat-menu-item (click)="openCollaboratorDialog(note)">
                <mat-icon style="margin-left: -17px;
                margin-top: -6px;">person_add</mat-icon>
              </button>
            </div> -->

            <!-- Color Div -->
            <!-- <div>
              <button mat-icon-button [matMenuTriggerFor]="color">
                <mat-icon style="    margin-left: -60px;">color_lens</mat-icon> -->
                <!-- assets/icons/color.svg -->
              <!-- </button>

              <mat-menu #color="matMenu">
                <div>
                  <a *ngFor="let color of colors">
                    <img src="{{color.path}}" (click)="note.color=color.color; updateNotes(note,'true','color')">
                  </a>
                </div>
              </mat-menu>
            </div> -->

            <!-- Image div -->
            <!-- <div style="margin-left: -37px;">
              <button mat-icon-button [matMenuTriggerFor]="imagemenu">
                <mat-icon>image</mat-icon> -->
                <!-- assets/icons/color.svg -->
              <!-- </button>
           

            <mat-menu #imagemenu="matMenu">
              <div>
                <input type="file" (click)="handleFileInput($event.target.files, note.noteId)">
              </div> -->
              <!-- <button mat-icon-button type="file" (click)="handleFileInput($event.target.files)">
                  <mat-icon>image</mat-icon>
              </button>   -->

            <!-- </mat-menu>
          </div> -->

            <!-- Archive Div -->
            <!-- <div style="    margin-left: -19px;">
              <button mat-button type="submit" (click)="updateNotes(note,'true','archive')">
                <mat-icon>archive</mat-icon>
              </button>
            </div> -->

            <!-- Delete Div -->
            <!-- <div style="margin-left: -36px;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon style="color:royalblue">more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button type="submit" mat-menu-item (click)="updateNotes(note,'true','trash')">
                  <mat-icon>delete</mat-icon>
                  <span>Delete note</span>
                </button>

                <button type="submit" mat-menu-item [matMenuTriggerFor]="label" (click)="addLabel()">
                  <mat-icon style="color:royalblue">label</mat-icon>
                  <span>Change Labels</span>
                </button>

                <mat-menu #label="matMenu">
                  <div fxLayout="column" fxLayoutGap="20px">
                    <div>
                      <span>label note</span>
                    </div>

                    <div>
                      <mat-form-field>
                        <input matInput placeholder="Enter label name">
                        <button mat-button>
                          <mat-icon>search</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>

                    <div *ngIf="labels!=null">
                      <div *ngFor="let label of labels">
                        <label>
                          <input type="checkbox" name="labels" value="{{label.labelTitle}}" [(ngModel)]="label.checked" (change)="optionChange($event, label.labelId, note.noteId)"
                          /> {{label.labelTitle}}
                        </label>
                      </div>
                    </div>

                  </div>
                </mat-menu>

              </mat-menu>
            </div>

          </div>
        </mat-card>
      </div> -->
    <!-- </div> -->
  <!-- </div>
</div> -->
