<div fxLayoutAlign="center center">

    <mat-card style="width: max-content;margin-top:5%;">
        <h3 style="text-align:left; color: blue"><i>Fundoo Notes</i></h3>
    
      <form style="text-align:center" #resetpassForm="ngForm" (ngSubmit)="reset()">
    
        <div class="resetpasscontainer">
          <mat-form-field>
            <h5 style="color:#3f51b5;">Enter new password</h5>
            <input matInput placeholder="password" type="text" name="password" [(ngModel)]="model.password">
          </mat-form-field>
        </div>
    
        <div class="button-row">
                <button mat-button color="primary">Reset password</button>
        </div>
        </form> 
      </mat-card>
    </div>
  