<!--The content below is only a placeholder and can be replaced.-->

<!-- Angular 5 is using double curly brackets - {{}} - 
 for string interpolation. This simply means that 
 if you have any data in the component class that you
 want to bind to view or template, just enter double
 curly brackets and put your variable in between.
Example {{title}} of app component wecan bind here..  -->

<!-- <mat-toolbar color="primary">
    <mat-icon> menu</mat-icon>
    <span> Fundoo Notes </span>
</mat-toolbar>  -->

<router-outlet></router-outlet> 

