<div>
    <!-- <div *ngFor="let note of notes"> -->
        <div *ngIf="data.noteImage">
            <img class="image" [src]="data.imageString"/>
            <!-- <button mat-button (click)="deleteImage(data)" class="icon"> -->
                <button mat-button (click)="deleteImage(data)" class="icon">
                    <mat-icon>delete</mat-icon>
            </button>
        </div>
       
    <!-- </div> -->

    <div id="updateNoteTitle" contenteditable='true' data-text='Title' name="title" class="editable line-height" (input)="data.title=$event.target.innerHTML">
    </div>

    <div id="updateNoteDescription" contenteditable='true' data-text='Take a note...' class="editable line-height" name="description" (input)="data.description=$event.target.innerHTML">
    </div>

    <div>
        <button mat-button class="btn-update" (click)="updateNote()">Update</button>
    </div>

</div>