<div fxLayoutAlign="center center">

  <mat-card style="width: max-content;margin-top:5%;">
    <h3 style="text-align:left; color: blue">
      <i>Fundoo Notes</i>
    </h3>

    <form style="text-align:center" #forgotpassform="ngForm" (ngSubmit)="forgot()">

      <div class="forgotpasscontainer">
        <mat-form-field>
          <h5 style="color:#3f51b5;">Enter your email address and we will send you a link to reset your password.</h5>
          <input matInput placeholder="email" type="email" name="email" [(ngModel)]="model.email">
        </mat-form-field>
      </div>

      <div class="button-row">
        <button mat-button color="primary">Send password reset email</button>
      </div>
    </form>
  </mat-card>
</div>